.idea
.DS_Store
package-lock.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
example/client/lib/**
example/server/tmp/
example/server/uploads/
example/server/node_modules
example/server/package-lock.json

coverage
